html {
  /* background: #1d1d1d; */
  margin-top: 125px;
  /* font-family: 'Roboto', sans-serif; */
}

#main {
  display: flex;
  justify-content: center;
  max-width: 700px;
  margin: auto;
  /* margin-top: 10%; */
}

#main>* {
  /* flex: 1; */
}

aside {
  width: 300px;
  margin-right: 45px;
}

aside>* {
  margin-bottom: 30px;
}

aside>:last-child {
  margin-bottom: 0;
}

.container {
  max-width: 700px;
  /* max-width: 600px; */
  width: 100%;
  margin: 0 auto;
  /* margin-bottom: 50px; */
}

.main-container>h2 {
  font-size: 22px;
  color: #000;
  margin-left: 10px;
  font-weight: bold;
}

.article-link {
  /* margin: 10px; */
  display: flex;
  flex-direction: column;
  text-decoration: none;
  /* margin-top: 15px; */
  max-width: 400px;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}

.article-link:hover {
  cursor: pointer;
  /* background: rgb(24 0 82 / 6%); */
}

.article-link:hover h3, #post-slider-auto-items-list>.article-link:hover h3 {
  color: #4433FF;
  /* opacity: 1; */
}

.article-link:hover .article-arrow-container {
  transform: translateX(8px);
}

.article-arrow-container {
  transform: translateX(-10px);
  transition: transform 0.6s cubic-bezier(0.33, 1, 0.68, 1);
  /* transition: all 300ms ease-in; */
}

.article-link>* {
  margin: 0;
  margin-bottom: 5px;
  /* color: #fff; */
}

.article-link h3 {
  font-size: 20px;
  /* margin-bottom: 10px; */
}

.article-link .article-sub-title {
  font-size: 16.5px;
  font-weight: bold;
  color: #6C7693;
}

.article-link>:last-child {
  margin-bottom: 0;
}

.article-link .article-date {
  color: #6C7693;
  font-size: 14px;
}

.article-link .article-description {
  color: #999999;
}

#post-slider-auto-items h2, #article-list>h2 {
  /* margin: 10px; */
  /* width: 400px; */
  margin-left: 10px;
  margin-bottom: 25px;
}

#article-list {
  display: flex;
  flex-direction: column;
  width: 400px;
  /* padding-top: 30px; */
  /* align-items: flex-end; */
}

/* #article-list>h2 {} */

#article-list>.article-link {
  justify-items: right;
  margin-bottom: 25px;
}

#article-list>.article-link:first-child {
  margin-top: 0
}

#post-slider-auto {
  /* height: 535px; */
  display: flex;
  flex-direction: row;
  padding: 30px;
  border: 2px solid #CCC;
  border-radius: 2px;
}

#post-slider-auto>.article-link h3 {
  color: #000000;
}

#post-slider-auto-items {
  /* margin-right: 35px; */
  display: flex;
  flex-direction: column;
  flex: 1;
}

#post-slider-auto-items-list {
  /* height: 400px; */
  display: flex;
  flex-direction: column;
}

#post-slider-auto-items-list>.article-link h3 {
  font-size: 18px;
  color: #21232C;
  opacity: .7;
  /* font-weight: normal; */
}

#post-slider-auto-items-list>div {
  margin-bottom: 30px;
}

#post-slider-auto-items-list>:first-child {
  margin-top: 0px;
}

h3 {
  font-size: 16px;
  color: #21232C;
}

h2 {
  font-size: 18px;
  color: #E60067;
}

#main {
  display: flex;
}